
#root {
  font-family: 'Montserrat';

  /* margin: 0;
  margin-top: 15rem;
  padding: 0; */
  /* text-align: center;
  display: flex;
  place-items: center;
  min-width: 320px; */
  /* min-height: 100vh; */
}